---
import AplicacionLayout from '../../layouts/AplicacionLayout.astro';

---

<AplicacionLayout title="SageMath Container" indice={1}>

    <div class="mx-7 mt-12 3xl:mt-20 mb-20 h-[76dvh] border-2 border-blue-500 rounded-2xl">
      <iframe src="/math.html" class="w-full  h-full" ></iframe >
    </div>
</AplicacionLayout>