---
import AplicacionLayout from '../../layouts/AplicacionLayout.astro';

---

<AplicacionLayout title="Material de apoyo Background" tipo="scroll" indice={1} numeroExperimento={1}>

    <div class="mx-7 mt-12 3xl:mt-20 mb-20 h-[76dvh] border-2 border-blue-500 rounded-2xl">
      <iframe src="/ml.html" class="w-full h-full" ></iframe >
    </div>
</AplicacionLayout>