---
import EjeLayout from '../../../layouts/EjeLayout.astro';
---

<EjeLayout>
 <section class="w-9/12 flex flex-col px-11 py-12 gap-16 border-2">

  <article class="flex flex-col gap-6">
   <h2 class="2xl:text-4xl font-bold">Investigacion</h2>
   <p class="w-3/4 text-justify text-lg leading-snug">
    
    La salud planetaria es un campo transdisciplinario de investigación, pero también un un movimiento social orientado a soluciones centradas en el análisis y el abordaje de los impactos de las irrupciones humanas en los sistemas naturales de la Tierra, en la salud humana y sobre la vida en el planeta. 
    <br/>
    <br/>
    Por ellos la salud planetaria reconoce que la vida y subsistencia de los seres humanos dependen de la salud del planeta, de los elementos bióticos y abióticos que lo conforman.


   </p>
  </article>


   
  <article class="flex flex-col gap-6">
    <h2 class="2xl:text-4xl font-bold">
     Salud Digital

    </h2>
    <p class="w-3/4 text-justify text-lg leading-snug">
    
        
     La Organización Mundial de la Salud (OMS) define la salud digital como el uso de tecnologías de la información y la comunicación (TIC) para la salud. La salud digital es un amplio paraguas que aborda diferentes conceptos, tales como la telemedicina, el internet de las cosas (IoT por sus siglas en inglés), los registros clínicos electrónicos, la ciencia de datos, la inteligencia artificial, la realidad virtual, entre otros.

     <br/>
     <br/>
     La salud digital está enfocada en optimizar los flujos de información a través de medios digitales para apoyar la gestión y prestación de servicios de salud, contribuyendo al logro de objetivos sanitarios.

     
 
    </p>
   </article>
   <article class="flex flex-col gap-6">
    <h2 class="2xl:text-4xl font-bold">
     Salud Digital

    </h2>
    <p class="w-3/4 text-justify text-lg leading-snug">
    
        
     La Organización Mundial de la Salud (OMS) define la salud digital como el uso de tecnologías de la información y la comunicación (TIC) para la salud. La salud digital es un amplio paraguas que aborda diferentes conceptos, tales como la telemedicina, el internet de las cosas (IoT por sus siglas en inglés), los registros clínicos electrónicos, la ciencia de datos, la inteligencia artificial, la realidad virtual, entre otros.

     <br/>
     <br/>
     La salud digital está enfocada en optimizar los flujos de información a través de medios digitales para apoyar la gestión y prestación de servicios de salud, contribuyendo al logro de objetivos sanitarios.

     
 
    </p>
   </article>

 </section>
</EjeLayout>