---
import EjeLayout from '../../../layouts/EjeLayout.astro';
---

<EjeLayout>
 <section class="sm:w-8/12 xl:w-9/12 flex flex-col px-6 sm:px-11 py-12 3xl:py-20 gap-16 3xl:gap-20 border-l-[0px] border-white/35">

  <article class="flex flex-col gap-6 3xl:gap-10">
   <h2 class="text-4xl sm:text-xl md:text-2xl xl:text-3xl 2xl:text-4xl 3xl:text-5xl font-bold">
    
    Oferta educativa
    
    
  </h2>
   <p class="sm:w-11/12 lg:w-3/4 sm:text-justify sm:text-sm xl:text-base 2xl:text-lg 3xl:text-xl leading-snug">
    
    En el CIIEC contamos con un seminario internacional permanente donde cada mes contamos con invitados que trabajan o han trabajado en instituciones de alto renombre internacional en el tema de la Salud Planetaria y Digital.

   </p>
  </article>

  <button class="w-fit bg-primary text-primary-foreground hover:bg-primary/90 h-12 rounded-md px-8 inline-flex items-center justify-center gap-2 whitespace-nowrap font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2">
    Ver seminarios grabados

    <svg class="w-4 h-4 3xl:w-5 3xl:h-5" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-right"><path d="M5 12h14"/><path d="m12 5 7 7-7 7"/></svg>

    
   </button>
   

 </section>
</EjeLayout>