---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Noticias from '../components/Noticias.astro';
import NoticiasMobile from '../components/NoticiasMobile.astro';

---


<Layout title="CIIEC-BUAP">

		<div class="pointer-events-none fixed inset-0">
			<div class="absolute inset-0 bg-gradient-to-b from-background via-background/90 to-background" />
			<div class="absolute right-0 top-0 h-[500px] w-[500px] bg-blue-500/10 blur-[100px]" />
			<div class="absolute bottom-0 left-0 h-[500px] w-[500px] bg-purple-500/10 blur-[100px]" />
		  </div>
	
	<section
	 class="w-full relative bg-cover bg-center bg-no-repeat"
    >
	
	<div class="relative max-w-full flex flex-col min-h-screen sm:h-screen gap-8 ">
	
  
	<section class="pt-32 xs:pt-24 sm:pt-0 sm:mx-5 md:mx-6 lg:mx-12 xl:mx-16 w-full sm:w-auto sm:h-full flex items-center justify-center text-white">
	 <div class="flex flex-col-reverse sm:flex-row items-center gap-7 sm:gap-7 md:gap-10 lg:gap-11 xl:gap-6">
  
	  <div class="flex flex-col gap-9 sm:gap-6 md:gap-7 lg:gap-9 xl:gap-12 mx-8 sm:mx-0">
	   <h1 class="text-4xl xs:text-3xl sm:text-xl md:text-2xl lg:text-2xl xl:text-3xl 2xl:text-4xl 3xl:text-5xl font-inter font-bold leading-snug lg:leading-snug xl:leading-tight 2xl:leading-tight 3xl:leading-normal">
		Centro
		<br class="sm:hidden"/>
		
		Interdisciplinario de Investigación 

		<br/> 
		
		y Enseñanza de la
		<br class="sm:hidden"/>
		Ciencia
	   </h1>
	   <p class="text-lg xs:text-base sm:text-xs md:text-xs lg:text-xs xl:text-sm 2xl:text-base 3xl:text-xl sm:text-justify font-inter sm:tracking-wide xl:w-11/12 text-muted-foreground">
		El Centro Interdisciplinario de Investigación y Enseñanza de la Ciencia (CIIEC) de la BUAP es un espacio único de la universidad, en el cual investigadoras e investigadores de alto nivel colaboran en el desarrollo de proyectos de alto impacto de manera interdisciplinaria, para atender problemas de prioridad nacional, empleando ciencia de vanguardia.    
	   </p>
	  </div>
  
	  <img src="heroCIIEC.png" class="hidden sm:block rounded-full w-56 xs:w-48 sm:w-44 md:w-52 lg:w-60 xl:w-96 xl:mr-4 2xl:mr-12"/>
  
	 </div>
  
	</section>
  
	<article class="sm:absolute bottom-0 sm:mx-5 md:mx-6 lg:mx-12 xl:mx-16 mb-10 flex gap-9 justify-center">
	
	<a href="https://www.facebook.com/CiiecBuap">
	 <img src="facebook_v2.png" 
	      class="w-11 xs:w-9 lg:w-7 xl:w-8 2xl:w-10 3xl:w-14"/>
	</a>
  
	<a href="https://www.youtube.com/@ciiecbuap5011">
	 <img src="youtube_v2.png" 
	      class="w-11 xs:w-9 lg:w-7 xl:w-8 2xl:w-10 3xl:w-14"/>
	 </a>
  
	<a href="#">
	 <img src="instagram_v2.png" 
	      class="w-11 xs:w-9 lg:w-7 xl:w-8 2xl:w-10 3xl:w-14"/>
	 </a>

	<a href="#">
	 <img src="bluesky.png" 
	      class="w-11 xs:w-9 lg:w-7 xl:w-8 2xl:w-10 3xl:w-14"/>
	</a>

  
	</article>
  
  
	</div>
  
  
	</section>
  



	

  



	<section class="z-0 min-h-screen flex flex-col justify-center font-inter sm:px-7 md:px-12 lg:px-32 xl:px-36 sm:py-12 gap-10">
	 <h3 class=" text-white mx-20 sm:mx-0 sm:w-full text-3xl xs:text-2xl sm:text-2xl md:text-3xl lg:text-2xl xl:text-3xl 2xl:text-4xl 3xl:text-6xl font-bold text-center">ULTIMAS NOTICIAS</h3>

	 <div class="hidden sm:flex flex-col">
	  <Noticias/>
	 </div>
	 <div class=" flex flex-col sm:hidden overflow-x-hidden">
	  <NoticiasMobile/>
	 </div>
  
	 
	</section>
  
</Layout>



