---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Noticias from '../components/Noticias.astro';

---


<Layout title="CIIEC-BUAP">

		<div class="pointer-events-none fixed inset-0">
			<div class="absolute inset-0 bg-gradient-to-b from-background via-background/90 to-background" />
			<div class="absolute right-0 top-0 h-[500px] w-[500px] bg-blue-500/10 blur-[100px]" />
			<div class="absolute bottom-0 left-0 h-[500px] w-[500px] bg-purple-500/10 blur-[100px]" />
		  </div>
	
	<section
	 class="relative bg-cover bg-center bg-no-repeat"
    >
	
	<div class="relative max-w-full flex-col h-screen ">
	
  
	<section class="sm:mx-5 md:mx-6 lg:mx-12 xl:mx-16 h-full flex items-center text-white">
	 <div class="flex items-center sm:gap-7 md:gap-10 lg:gap-11 xl:gap-6">
  
	  <div class="flex flex-col sm:gap-6 md:gap-7 lg:gap-9 xl:gap-12">
	   <h1 class="sm:text-xl md:text-2xl lg:text-2xl xl:text-3xl 2xl:text-4xl 3xl:text-5xl font-inter font-semibold lg:leading-snug xl:leading-tight 2xl:leading-tight 3xl:leading-normal">Centro Interdisciplinario de Investigación <br/> y Enseñanza de la Ciencia</h1>
	   <p class="sm:text-xs md:text-xs lg:text-xs xl:text-sm 2xl:text-base 3xl:text-xl text-justify font-inter tracking-wide xl:w-11/12 text-muted-foreground">
		El Centro Interdisciplinario de Investigación y Enseñanza de la Ciencia (CIIEC) de la BUAP es un espacio único de la universidad, en el cual investigadoras e investigadores de alto nivel colaboran en el desarrollo de proyectos de alto impacto de manera interdisciplinaria, para atender problemas de prioridad nacional, empleando ciencia de vanguardia.    
	   </p>
	  </div>
  
	  <img src="heroCIIEC.png" class="rounded-full sm:w-44 md:w-52 lg:w-60 xl:w-96 xl:mr-4 2xl:mr-12"/>
  
	 </div>
  
	</section>
  
	<article class="absolute bottom-0 sm:mx-5 md:mx-6 lg:mx-12 xl:mx-16 mb-10 flex gap-9">
	
	<a href="https://www.facebook.com/CiiecBuap">
	 <img src="facebook_v2.png" 
	      class="w-9 lg:w-7 xl:w-8 2xl:w-10 3xl:w-14"/>
	</a>
  
	<a href="https://www.youtube.com/@ciiecbuap5011">
	 <img src="youtube_v2.png" 
	      class="w-9 lg:w-7 xl:w-8 2xl:w-10 3xl:w-14"/>
	 </a>
  
	<a href="#">
	 <img src="instagram_v2.png" 
	      class="w-9 lg:w-7 xl:w-8 2xl:w-10 3xl:w-14"/>
	 </a>

	<a href="#">
	 <img src="bluesky.png" 
	      class="w-9 lg:w-7 xl:w-8 2xl:w-10 3xl:w-14"/>
	</a>

  
	</article>
  
  
	</div>
  
  
	</section>
  



	

  



	<section class=" flex flex-col justify-center font-inter sm:px-7 md:px-12 lg:px-32 xl:px-36 py-12 gap-10">
	 <h3 class="z-0 text-white sm:text-2xl md:text-3xl lg:text-2xl xl:text-3xl 2xl:text-4xl 3xl:text-6xl font-bold text-center">ULTIMAS NOTICIAS</h3>
	 <article class="flex flex-col">

	  <Noticias/>
	  </article>
  
	 
	</section>
	<script>

		import { tsParticles } from "https://cdn.jsdelivr.net/npm/@tsparticles/engine@3.1.0/+esm";
		import { loadAll } from "https://cdn.jsdelivr.net/npm/@tsparticles/all@3.1.0/+esm";
import { FullScreen } from "tsparticles-engine";
		
		async function loadParticles(options) {
		  await loadAll(tsParticles);
		
		  await tsParticles.load({ id: "tsparticles", options });
		}
		
		const configs = {
		  fullScreen:{
		   enable:false
		  },

      particles: {
    number: {
      value: 100
    },
    color: {
      value: "#ffffff"
    },
    links: {
      enable: true,
      distance: 105
    },
    shape: {
      type: "circle"
    },
    opacity: {
      value: 0.5
    },
    size: {
      value: {
        min: 1,
        max: 4
      }
    },
    move: {
      enable: true,
      speed: 2
    }
  },
  background: {
    color: "#0F1C70"
  },

		};
		
		loadParticles(configs);
		</script>
		
  
</Layout>



