---
---

<footer class="relative sm:max-lg:gap-3 flex py-10 sm:px-6 md:px-7 lg:px-5 xl:px-11 2xl:px-14 3xl:px-14 justify-between items-center bg-[#020024] font-inter">
    <img src="/bg-footer.png" class="absolute object-fill h-full inset-0 -z-0 w-full "/>

	<div class=" z-10 flex sm:gap-4 md:gap-4 lg:gap-5 xl:gap-7 2xl:gap-7 3xl:gap-8 items-center sm:text-xs lg:text-sm 2xl:text-base 3xl:text-lg">
	 <img class="sm:h-7 md:h-7 lg:h-8 xl:h-11 2xl:h-12 3xl:h-14  bg-cover" src="/footer.png"/>
 
	 <div class="flex flex-col gap-4 text-[#00C9F0]">
	 <h4 class="font-bold">
	 
	  Centro Interdisciplinario de Investigación y Enseñanza de la Ciencia
	 </h4>
 
 
 
	 <p>
	  Prolongación de la 24 Sur y Av. San Claudio Ciudad Universitaria, 
	  <br/>
	  Col, Jardines de San Manuel, 72000 Puebla, Pue., México
	   
	 </p>
	 </div>
 
	</div>
 
	<ul class="z-10 columns-2 lg:gap-5 xl:gap-12 text-[#00C9F0] sm:text-xs lg:text-sm 2xl:text-base 3xl:text-lg font-normal">

	 <li class="sm:mb-5 md:mb-4 lg:mb-2">
	  <a href="/nosotros">
	   Nosotros
	  </a>
	 </li>

	 <li class="sm:mb-5 md:mb-4 lg:mb-2" >
	  <a href="#">
		Oferta Educativa
	  </a>

	 </li>

	 <li>
	  <a href="#">
	   Colaboración
	  </a>
	  
	 </li>

	 <li class="sm:mb-5 md:mb-4 lg:mb-2">
	  <a href="#">
	   Ejes
	  </a>
	  
	 </li>

	 <li class="sm:mb-5 md:mb-4 lg:mb-2">
	  <a href="#">
	   Aplicaciones Web
	  </a>

	 </li>

	 <li>
	  <a href="#">
	   Contacto
	  </a>
	  
	 </li>
	 
	</ul>
 
	<article class="z-10 flex flex-col gap-4 items-center text-[#00C9F0]">
	 <p class="sm:text-xs lg:text-sm 2xl:text-base 3xl:text-lg font-medium">CONTACTANOS:</p>
	 <section class="flex sm:gap-5 lg:gap-5 xl:gap-8">
	   <a href="https://www.facebook.com/CiiecBuap">
		<img src="/facebook.png" 
			 class="sm:w-8 md:w-7 lg:w-6 xl:w-full rounded-full"/>
	   </a>
	   
	   <a href="https://www.youtube.com/@ciiecbuap5011">
		<img src="/youtube.png" 
			 class="sm:w-8 md:w-7 lg:w-6 xl:w-full rounded-full"/>
	   </a>
 
	   <a href="#">
		<img src="/instagram.png" 
			 class="sm:w-8 md:w-7 lg:w-6 xl:w-full rounded-full"/>
	   </a>
 
	 </section>
 
	</article>
 
   </footer>
