---
---

<footer class="relative sm:max-lg:gap-3 flex py-10 sm:px-6 md:px-7 lg:px-5 xl:px-11 2xl:px-14 3xl:px-14 justify-between items-center font-inter border-t">

	<div class=" z-10 flex sm:gap-4 md:gap-4 lg:gap-5 xl:gap-7 2xl:gap-7 3xl:gap-8 items-center sm:text-xs lg:text-xs 2xl:text-sm 3xl:text-lg">
	 <img class="sm:h-7 md:h-7 lg:h-10 xl:h-12 2xl:h-14 3xl:h-16  bg-cover" src="/buap_v2.png"/>
 
	 <div class="flex flex-col gap-4 text-[#0C8CE9]">
	 <h4 class="font-bold">
	 
	  Centro Interdisciplinario de Investigación y Enseñanza de la Ciencia
	 </h4>
 
 
 
	 <p>
	  Prolongación de la 24 Sur y Av. San Claudio Ciudad Universitaria, 
	  <br/>
	  Col, Jardines de San Manuel, 72000 Puebla, Pue., México
	   
	 </p>
	 </div>
 
	</div>
 
	<ul class="z-10 columns-2 lg:gap-5 xl:gap-12 text-[#0C8CE9] sm:text-xs lg:text-xs 2xl:text-sm 3xl:text-lg font-normal">

	 <li class="sm:mb-5 md:mb-4 lg:mb-2">
	  <a href="/nosotros"
	     class="hover:text-[#00C9F0] transition-all duration-200">
	   Nosotros
	  </a>
	 </li>

	 <li class="sm:mb-5 md:mb-4 lg:mb-2" >
	  <a href="#"
	     class="hover:text-[#00C9F0] transition-all duration-200">
		Oferta Educativa
	  </a>

	 </li>

	 <li>
	  <a href="#"
	     class="hover:text-[#00C9F0] transition-all duration-200">
	   Colaboración
	  </a>
	  
	 </li>

	 <li class="sm:mb-5 md:mb-4 lg:mb-2">
	  <a href="#"
	     class="hover:text-[#00C9F0] transition-all duration-200">
	   Ejes
	  </a>
	  
	 </li>

	 <li class="sm:mb-5 md:mb-4 lg:mb-2">
	  <a href="#"
	     class="hover:text-[#00C9F0] transition-all duration-200">
	   Aplicaciones Web
	  </a>

	 </li>

	 <li>
	  <a href="#"
	     class="hover:text-[#00C9F0] transition-all duration-200">
	   Contacto
	  </a>
	  
	 </li>
	 
	</ul>
 
	<article class="z-10 flex flex-col gap-4 items-center text-[#0C8CE9]">
	 <p class="sm:text-xs lg:text-xs 2xl:text-sm 3xl:text-lg font-medium">CONTACTANOS:</p>
	 <section class="flex sm:gap-3 lg:gap-4 xl:gap-5">
	   <a href="https://www.facebook.com/CiiecBuap">
		<img src="/facebook_v2.png" 
			 class="sm:w-5 md:w-6 lg:w-6 xl:w-7 2xl:w-8 rounded-full"/>
	   </a>
	   
	   <a href="https://www.youtube.com/@ciiecbuap5011">
		<img src="/youtube_v2.png" 
			 class="sm:w-5 md:w-6 lg:w-6 xl:w-7 2xl:w-8 rounded-full"/>
	   </a>
 
	   <a href="#">
		<img src="/instagram_v2.png" 
			 class="sm:w-5 md:w-6 lg:w-6 xl:w-7 2xl:w-8 rounded-full"/>
	   </a>

	   <a href="#">
		<img src="/bluesky.png"
			 class="sm:w-5 md:w-6 lg:w-6 xl:w-7 2xl:w-8 rounded-full"/>
	   </a>
 
	 </section>
 
	</article>
 
   </footer>
