---

var opcionesMenu = [
                    {
                     "nombre": "Nosotros",
                     "direccion": "",
                     "subcategorias": [
                      {
                       "nombre":"Misión y Visión",
                       "direccion":""
                      },
                      {
                       "nombre":"Objetivo",
                       "direccion":""
                      },
                      {
                       "nombre":"Miembros",
                       "direccion":""
                      },
                      {
                       "nombre":"Contacto",
                       "direccion":""
                      },
                     ]
                    },
                    {
                     "nombre": "Ejes",
                     "direccion": "",
                     "subcategorias": [
                      {
                       "nombre":"Fundamentos y tecnología cuántica",
                       "direccion":""
                      },
                      {
                       "nombre":"Salud digital y planetaria",
                       "direccion":""
                      },
                      {
                       "nombre":"Interculturalidad y diálogo de saberes",
                       "direccion":""
                      },
                     ]
                    },
                    {
                     "nombre": "Investigación",
                     "direccion": "",
                     "subcategorias": [
                      {
                       "nombre":"Seminarios",
                       "direccion":""
                      },
                      {
                       "nombre":"Colaboración",
                       "direccion":""
                      },
                      {
                       "nombre":"Software",
                       "direccion":""
                      },
                     ]
                    },
                    {
                     "nombre": "Educación y divulgación",
                     "direccion": "",
                     "subcategorias": [
                      {
                       "nombre":"Diplomados",
                       "direccion":""
                      },
                      {
                       "nombre":"Talleres",
                       "direccion":""
                      },
                      {
                       "nombre":"Simposios",
                       "direccion":""
                      },
                      {
                       "nombre":"Cursos",
                       "direccion":""
                      },
                     ]
                    },



]

---





<header id="ventanaNavbar" class="fixed top-0 left-0 right-0 z-10 border-b border-white/10 bg-background/80 backdrop-blur-md supports-[backdrop-filter]:bg-background/60 w-full h-[105px] xs:h-[82px] sm:h-auto transition-all duration-500">
    <div id="menuCerrado" class="flex my-6 xs:my-4 sm:my-3 xl:my-3 3xl:my-7 ml-9 mr-6 sm:mx-5 md:mx-6 lg:mx-12 xl:mx-16 justify-between sm:justify-between items-center opacity-100 transition-all">

      <div class="flex gap-4 sm:gap-5 lg:gap-9 items-center justify-center">
          <a href="https://www.buap.mx/" class="hidden sm:block">
           <img class="h-10 xs:h-8 sm:h-6 lg:h-9 xl:h-11 2xl:h-11 3xl:h-11" src="/buap_v2.png"/>
          </a>


          <a class=" text-teal-600" href="/">
           <span class="sr-only">Home</span>
          
           <img class="h-11 xs:h-9 sm:h-10 lg:h-12 xl:h-14 2xl:h-16 3xl:h-20" src="/home.png"/>
          </a>

          <p class="sm:hidden text-2xl text-[#0C8CE9] font-bold">CIIEC</p>


      </div>

        <div class="flex items-center gap-4 justify-center">

          <div class="block sm:hidden">
            <button id="botonNavbar" class="rounded bg-transparent p-2 text-white transition hover:text-gray-600/75">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="size-10 xs:size-8"
                fill="none"
                viewBox="2 0 24 24"
                stroke="currentColor"
                strokeWidth="2"
              >
                <path strokeLinecap="round" strokeLinejoin="round" d="M4 6h26M4 12h26M4 18h26" />
              </svg>
            </button>
          </div>

        </div>



        <nav aria-label="Global" class=" hidden sm:flex items-center sm:mr-2 lg:mr-12 font-inter font-medium">
          <ul class="flex justify-start items-center sm:gap-10 lg:gap-16 text-xs xl:text-sm">
            <li class="group relative">


              <a class="flex gap-1 items-end  text-white transition py-3 hover:text-gray-500/75" href="#"> 
               <p> Nosotros </p> 
               
               <svg class="w-6 h-6 translate-y-1 " viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" d="M12.7071 14.7071C12.3166 15.0976 11.6834 15.0976 11.2929 14.7071L6.29289 9.70711C5.90237 9.31658 5.90237 8.68342 6.29289 8.29289C6.68342 7.90237 7.31658 7.90237 7.70711 8.29289L12 12.5858L16.2929 8.29289C16.6834 7.90237 17.3166 7.90237 17.7071 8.29289C18.0976 8.68342 18.0976 9.31658 17.7071 9.70711L12.7071 14.7071Z" fill="currentColor"></path> </g></svg>
              
              </a>

                <ul class="hidden group-hover:flex group-hover:flex-col hover:flex absolute -translate-x-0  mt-0 gap-0 text-white sm:text-xs md:text-xs xl:text-sm sm:w-[146px] lg:w-[147px] xl:w-[157px] 3xl:w-[175px] bg-[#374151] rounded-md">

                  <li class='group/s1 relative hover:bg-[#232933] flex px-3 pt-2 pb-2'>
                   <a>Misión y Visión</a>
           
                  </li>
   
                  <li class='hover:bg-[#232933] px-3 py-2'>
                   <a>Objetivo</a>
                  </li>

                  <li class='hover:bg-[#232933] px-3 py-2'>
                    <a>Miembros</a>
                  </li>
               

                  <li class='hover:bg-[#232933] px-3 pb-2 pt-2'>
                   <a>Contacto</a>
                  </li>
   
                 </ul>
      

            </li>

            <li class="group relative">


              <a class="flex gap-1 items-end  text-white transition py-3 hover:text-gray-500/75" href="#">
               <p> Ejes </p> 
              
              <svg class="w-6 h-6 translate-y-1 " viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" d="M12.7071 14.7071C12.3166 15.0976 11.6834 15.0976 11.2929 14.7071L6.29289 9.70711C5.90237 9.31658 5.90237 8.68342 6.29289 8.29289C6.68342 7.90237 7.31658 7.90237 7.70711 8.29289L12 12.5858L16.2929 8.29289C16.6834 7.90237 17.3166 7.90237 17.7071 8.29289C18.0976 8.68342 18.0976 9.31658 17.7071 9.70711L12.7071 14.7071Z" fill="currentColor"></path> </g></svg>
            
              </a>


              <ul class="hidden group-hover:flex group-hover:flex-col hover:flex absolute -translate-x-1  mt-0 gap-0 text-white sm:text-xs md:text-xs xl:text-sm sm:w-[146px] lg:w-[147px] xl:w-[157px] 3xl:w-[175px] bg-[#374151] rounded-md">

                <li class='group/s1 relative hover:bg-[#232933] flex px-3 pt-3 pb-3'>
                 <a>Fundamentos y tecnología cuántica</a>
 
                </li>
 
                <li class='hover:bg-[#232933] px-3 py-2'>
                 <a>Salud digital y planetaria</a>
                </li>
 
                <li class='hover:bg-[#232933] px-3 pb-2 pt-2'>
                 <a>Interculturalidad y diálogo de saberes</a>
                </li>
 
               </ul>

            </li>




            <li class="group relative">


              <a class="flex gap-1 items-end  text-white transition  py-3 hover:text-gray-500/75" href="#"> 
                <p> Investigacion </p> 
        
                <svg class="w-6 h-6 translate-y-1" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" d="M12.7071 14.7071C12.3166 15.0976 11.6834 15.0976 11.2929 14.7071L6.29289 9.70711C5.90237 9.31658 5.90237 8.68342 6.29289 8.29289C6.68342 7.90237 7.31658 7.90237 7.70711 8.29289L12 12.5858L16.2929 8.29289C16.6834 7.90237 17.3166 7.90237 17.7071 8.29289C18.0976 8.68342 18.0976 9.31658 17.7071 9.70711L12.7071 14.7071Z" fill="currentColor"></path> </g></svg>
              
              
              
              </a>


              
              <ul class="hidden group-hover:flex group-hover:flex-col hover:flex absolute -translate-x-1  mt-0 gap-0 text-white sm:text-xs md:text-xs xl:text-sm sm:w-[146px] lg:w-[147px] xl:w-[157px] 3xl:w-[175px] bg-[#374151] rounded-md">

               <li class='group/s1 relative hover:bg-[#232933] flex px-3 pt-3 pb-3'>
                <a>Seminarios</a>

               </li>

               <li class='hover:bg-[#232933] px-3 py-2'>
                <a>Colaboración</a>
               </li>

               <li class='hover:bg-[#232933] px-3 pb-2 pt-2'>
                <a>Software</a>
               </li>

              </ul>


              
            </li>




            

            <li class="group relative">


              <a class="flex gap-1 items-end  text-white transition py-3 hover:text-gray-500/75" href="#"> 
                <p> Educación y Divulgación </p> 
      
                <svg class="w-6 h-6 translate-y-1" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" d="M12.7071 14.7071C12.3166 15.0976 11.6834 15.0976 11.2929 14.7071L6.29289 9.70711C5.90237 9.31658 5.90237 8.68342 6.29289 8.29289C6.68342 7.90237 7.31658 7.90237 7.70711 8.29289L12 12.5858L16.2929 8.29289C16.6834 7.90237 17.3166 7.90237 17.7071 8.29289C18.0976 8.68342 18.0976 9.31658 17.7071 9.70711L12.7071 14.7071Z" fill="currentColor"></path> </g></svg>
              
              
              </a>



              <ul class="hidden group-hover:flex group-hover:flex-col hover:flex absolute -translate-x-0  mt-0 gap-0 text-white sm:text-xs md:text-xs xl:text-sm sm:w-[146px] lg:w-[147px] xl:w-[157px] 3xl:w-[175px] bg-[#374151] rounded-md">

                <li class='group/s1 relative hover:bg-[#232933] flex px-3 pt-3 pb-3'>
                 <a>Diplomados</a>
 
                </li>
 
                <li class='hover:bg-[#232933] px-3 py-2'>
                 <a>Talleres</a>
                </li>
 
                <li class='hover:bg-[#232933] px-3 pb-2 pt-2'>
                 <a>Simposios</a>
                </li>

                <li class='hover:bg-[#232933] px-3 pb-2 pt-2'>
                  <a>Cursos</a>
                 </li>
                  
                 <li class='hover:bg-[#232933] px-3 pb-2 pt-2'>
                  <a>Divulgación</a>
                 </li>
 

               </ul>
  


            </li>

          </ul>
        </nav>





  </div>

  <nav id="menuMobile" class="absolute top-0 w-full flex flex-col sm:hidden px-6 gap-12 xs:gap-3 opacity-0 pointer-events-none transition-all duration-1000">
   <img src="/heroCIIEC.png" class="w-[29%] pt-16">


   <svg id="botonCerrar" xmlns="http://www.w3.org/2000/svg"  class="absolute top-9 right-5 w-11 fill-current " viewBox="0 -960 960 960" ><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg>

   <ul class="flex flex-col font-inter divide-y-[1px] divide-gray-50 gap-5 ">

    <li class="flex flex-col gap-5 pt-3">
      <a href="/" class="flex justify-between items-center font-bold">
        <p class="text-lg xs:text-base">Inicio</p>
      </a>
  

    </li>

    {
     opcionesMenu.map( (opcion, numero) => (
     <li id="listaMenuMoblie" class="flex flex-col gap-5 pt-3">


     
     <div onclick={'mostrarSubcategorias('+(numero)+')'} class="flex justify-between items-center font-bold">
      <p class="text-lg xs:text-base"> {opcion.nombre} </p>


        <svg id={"flecha"+numero} xmlns="http://www.w3.org/2000/svg"  class="w-5 fill-current transition-all rotate-0 " viewBox="0 -960 960 960" ><path d="m321-80-71-71 329-329-329-329 71-71 400 400L321-80Z"/></svg>
     </div>



     <ul id={"c"+numero} class="h-0 hidden flex-col pl-3 divide-y-[1px] text-[#ffffffcc] divide-[#ffffff4d] gap-3 transition-all duration-0 opacity-100 pointer-events-none ">
       {
        opcion?.subcategorias?.map( subcategoria => 
        (
         <li class="flex justify-between items-center pt-2">
          

          <p class="xs:text-sm"> {subcategoria.nombre}</p>

          <svg xmlns="http://www.w3.org/2000/svg"  class="w-4 fill-current " viewBox="0 -960 960 960" ><path d="m216-160-56-56 464-464H360v-80h400v400h-80v-264L216-160Z"/></svg>  

         </li>

        )
        )
       }
       <li></li> 
      </ul>
      </li>
      )
     )
    }
    <li></li>

   </ul>

  </nav>

</header>


<script>
 
 var categoriaActiva = -1;
 window.mostrarSubcategorias = function(categoriaSeleccionada) {

  

  //Se cierra el submenu que se encuentra abierto actualmente
  if(categoriaActiva!=-1)
  {
    document.getElementById("c"+categoriaActiva).classList.remove("flex");
    document.getElementById("c"+categoriaActiva).classList.remove("h-full");
    document.getElementById("c"+categoriaActiva).classList.add("h-0");
    document.getElementById("c"+categoriaActiva).classList.add("hidden");
    document.getElementById("c"+categoriaActiva).classList.add("pointer-events-none");

    document.getElementById("flecha"+categoriaActiva).classList.remove("rotate-90");
    document.getElementById("flecha"+categoriaActiva).classList.add("rotate-0");
  }
  if(categoriaActiva!=categoriaSeleccionada)
  { //Se abre el submenu de la categoria seleccionada.
   document.getElementById("c"+categoriaSeleccionada).classList.remove("hidden");
   document.getElementById("c"+categoriaSeleccionada).classList.remove("pointer-events-none");
   document.getElementById("c"+categoriaSeleccionada).classList.remove("h-0");
   document.getElementById("c"+categoriaSeleccionada).classList.add("flex");
   document.getElementById("c"+categoriaSeleccionada).classList.add("h-full");
   document.getElementById("flecha"+categoriaSeleccionada).classList.add("rotate-90");
   document.getElementById("flecha"+categoriaSeleccionada).classList.remove("rotate-0");
   categoriaActiva = categoriaSeleccionada;
  }
  else
   categoriaActiva = -1;
 }

 //Se revisa si se ha abierto el menu de hamburguesa
 document.getElementById("botonNavbar").addEventListener("click", (event) => {
  document.getElementById("menuCerrado").classList.remove("opacity-100");
  document.getElementById("menuCerrado").classList.add("pointer-events-none");
  document.getElementById("menuCerrado").classList.add("opacity-0");

  document.getElementById("ventanaNavbar").classList.remove("h-[105px]");
  document.getElementById("ventanaNavbar").classList.remove("xs:h-[82px]");
  document.getElementById("ventanaNavbar").classList.add("h-screen");
  
  document.getElementById("menuMobile").classList.remove("opacity-0");
  document.getElementById("menuMobile").classList.remove("pointer-events-none");
  document.getElementById("menuMobile").classList.add("opacity-100");
  document.getElementById("menuMobile").classList.add("pointer-events-auto");
  
  
 })

 //Se revisa si se ha cerrado el menu de hamburguesa
 document.getElementById("botonCerrar").addEventListener("click", (event) => {
   document.getElementById("menuCerrado").classList.remove("opacity-0");
   document.getElementById("menuCerrado").classList.remove("pointer-events-none");
   document.getElementById("menuCerrado").classList.add("opacity-100");
   document.getElementById("ventanaNavbar").classList.remove("h-screen");
   document.getElementById("ventanaNavbar").classList.add("h-[105px]");
   document.getElementById("ventanaNavbar").classList.add("xs:h-[82px]");
  
  document.getElementById("menuMobile").classList.remove("opacity-100");
  document.getElementById("menuMobile").classList.remove("pointer-events-auto");
  document.getElementById("menuMobile").classList.add("opacity-0");
  document.getElementById("menuMobile").classList.add("pointer-events-none");
  
  
 })

 
</script>