

<section class="swiper sm:w-11/12 lg:w-11/12 xl:w-10/12 2xl:w-10/12" >

 <div class="swiper-wrapper">

  <div class="swiper-slide">
    <article class="group bg-no-repeat bg-contain">

     <div class="w-full bg-transparent sm:h-[16rem] md:h-[16rem] lg:h-[20rem] xl:h-[22rem] 2xl:h-[25rem] 3xl:h-[32rem] bg-[url(/slider1.png)] bg-no-repeat bg-center bg-[length:80%_auto]  hover:bg-[length:102%_auto] transition-[background-size] duration-700 "></div> 

     <div class="opacity-0 group-hover:opacity-100 transition-all ease-in absolute w-full h-2/6 bottom-0 flex flex-col gap-2 justify-center bg-black/55 text-white text-center py-3">
      <h4 class="sm:text-sm lg:text-sm xl:text-base 2xl:text-lg font-bold">
       CONGRESO INTERNACIONAL MUNDO TOTONACO
      </h4>
      <p class="sm:text-xs xl:text-sm font-medium">Del 13 al 16 de Noviembre del 2024</p>
     </div>
    </article>
  </div>

  <div class="swiper-slide">
    <article class="group  bg-no-repeat bg-cover">
      
      <div class="w-full bg-transparent sm:h-[16rem] md:h-[16rem] lg:h-[20rem] xl:h-[22rem] 2xl:h-[25rem] 3xl:h-[32rem] bg-[url(/slider2.png)] bg-no-repeat bg-center bg-[length:80%_auto]  hover:bg-[length:102%_auto] transition-[background-size] duration-700 "></div> 


        <div class="opacity-0 group-hover:opacity-100 transition-all ease-in absolute w-full h-2/6 bottom-0 flex flex-col justify-center gap-2 bg-black/55 text-white text-center py-3">
         <h4 class="sm:text-sm lg:text-sm xl:text-base 2xl:text-lg font-bold">
          CURSO DE ESPERANTO
         </h4>
         <p class="sm:text-xs xl:text-sm font-medium">Inicia el 2 de Octubre del 2024</p>
        </div>
       </article>
  </div>

  <div class="swiper-slide">
    <article class="group   bg-cover bg-no-repeat">

      
      <div class="w-full bg-transparent sm:h-[16rem] md:h-[16rem] lg:h-[20rem] xl:h-[22rem] 2xl:h-[25rem] 3xl:h-[32rem] bg-[url(/slider3.png)] bg-no-repeat bg-center bg-[length:80%_auto]  hover:bg-[length:102%_auto] transition-[background-size] duration-700 "></div> 


        <div class="opacity-0 group-hover:opacity-100 transition-all ease-in absolute w-full h-2/6 bottom-0 flex flex-col justify-center gap-2 bg-black/55 text-white text-center py-3">
          <h4 class="sm:text-sm lg:text-sm xl:text-base 2xl:text-lg font-bold">
           LIBRO: MEXICO CUANTICO
          </h4>
          <p class="sm:text-xs xl:text-sm font-mediud ">21 de Agosto del 2024</p>
         </div>
        </article>
  </div>

  <div class="swiper-slide">
    <article class="group bg-no-repeat bg-cover">

      <div class="w-full bg-transparent sm:h-[16rem] md:h-[16rem] lg:h-[20rem] xl:h-[22rem] 2xl:h-[25rem] 3xl:h-[32rem] bg-[url(/slider4.jpg)] bg-no-repeat bg-center bg-[length:80%_auto]  hover:bg-[length:102%_auto] transition-[background-size] duration-700 "></div> 


        <div class="opacity-0 group-hover:opacity-100 transition-all ease-in absolute w-full h-2/6 bottom-0 flex flex-col justify-center gap-2 bg-black/55 text-white text-center py-3">
         <h4 class="sm:text-sm lg:text-sm xl:text-base 2xl:text-lg font-bold">
          CONFERENCIA PARA MUJERES ESTUDIANTES DE FISICA
         </h4>
         <p class="sm:text-xs xl:text-sm font-medium">Del 23 al 25 de Octubre del 2023</p>
        </div>
       </article>
  </div>

  <div class="swiper-slide">
    <article class="group bg-cover bg-no-repeat">


      <div class="w-full bg-transparent sm:h-[16rem] md:h-[16rem] lg:h-[20rem] xl:h-[22rem] 2xl:h-[25rem] 3xl:h-[32rem] bg-[url(/slider5.png)] bg-no-repeat bg-center bg-[length:80%_auto]  hover:bg-[length:102%_auto] transition-[background-size] duration-700 "></div> 


        <div class="opacity-0 group-hover:opacity-100 transition-all ease-in absolute w-full h-2/6 bottom-0 flex flex-col justify-center gap-2 bg-black/55 text-white text-center py-3">
          <h4 class="sm:text-sm lg:text-sm xl:text-base 2xl:text-lg font-bold">
           PREMIO NOBEL DE FISICA 2024
          </h4>
          <p class="sm:text-xs xl:text-sm font-mediud ">11 de Octubre del 2024</p>
         </div>
        </article>
  </div>

  <div class="swiper-slide">
    <article class="group bg-no-repeat bg-contain">


      <div class="w-full bg-transparent sm:h-[16rem] md:h-[16rem] lg:h-[20rem] xl:h-[22rem] 2xl:h-[25rem] 3xl:h-[32rem] bg-[url(/slider6.jpg)] bg-no-repeat bg-center bg-[length:80%_auto]  hover:bg-[length:102%_auto] transition-[background-size] duration-700 "></div> 


     <div class="opacity-0 group-hover:opacity-100 transition-all ease-in absolute w-full h-2/6 bottom-0 flex flex-col gap-2 justify-center bg-black/55 text-white text-center py-3">
      <h4 class="sm:text-sm lg:text-sm xl:text-base 2xl:text-lg font-bold">
       TALLER DE AUTOMATIZACIÓN DE CÁLCULOS EN FÍSICA DE PARTÍCULAS
      </h4>
      <p class="sm:text-xs xl:text-sm font-medium">Del 30 de Mayo al 02 de Junio del 2022</p>
     </div>
    </article>
  </div>

  <div class="swiper-slide">
    <article class="group bg-cover bg-no-repeat">

      <div class="w-full bg-transparent sm:h-[16rem] md:h-[16rem] lg:h-[20rem] xl:h-[22rem] 2xl:h-[25rem] 3xl:h-[32rem] bg-[url(/slider7.png)] bg-no-repeat bg-center bg-[length:80%_auto]  hover:bg-[length:102%_auto] transition-[background-size] duration-700 "></div> 


        <div class="opacity-0 group-hover:opacity-100 transition-all ease-in absolute w-full h-2/6 bottom-0 flex flex-col justify-center gap-2 bg-black/55 text-white text-center py-3">
          <h4 class="sm:text-sm lg:text-sm xl:text-base 2xl:text-lg font-bold">
           ChatGPT: ¿QUÉ ES Y COMO PUEDO USARLO?
          </h4>
          <p class="sm:text-xs xl:text-sm font-mediud ">03 de Mayo del 2023</p>
         </div>
        </article>
  </div>

  <div class="swiper-slide">
    <article class="group bg-no-repeat bg-contain">

      
      <div class="w-full bg-transparent sm:h-[16rem] md:h-[16rem] lg:h-[20rem] xl:h-[22rem] 2xl:h-[25rem] 3xl:h-[32rem] bg-[url(/slider8.png)] bg-no-repeat bg-center bg-[length:80%_auto]  hover:bg-[length:102%_auto] transition-[background-size] duration-700 "></div> 


     <div class="opacity-0 group-hover:opacity-100 transition-all ease-in absolute w-full h-2/6 bottom-0 flex flex-col gap-2 justify-center bg-black/55 text-white text-center py-3">
      <h4 class="sm:text-sm lg:text-sm xl:text-base 2xl:text-lg font-bold">
       CONVOCATORIA AL SNI DE CONAHCyT 2023
      </h4>
      <p class="sm:text-xs xl:text-sm font-medium">Del 29 de Mayo al 16 de Junio del 2023</p>
     </div>
    </article>
  </div>


 </div>
 <div class="swiper-button-next"></div>
 <div class="swiper-button-prev"></div>
 <div class="swiper-pagination" ></div>
 <a href="#" class="flex gap-2 justify-end md:text-sm lg:text-sm xl:text-base 2xl:text-base 3xl:text-lg font-bold "><p> VER TODAS LAS NOTICIAS</p> <img src="arrow_white.svg"/></a>


</section>

<script>
    // Core de Swiper y estilos
    import Swiper from 'swiper';
    import 'swiper/css';
    // Módulo Navigation de Swiper y estilos
    import { Keyboard, Scrollbar, Navigation, Pagination } from "swiper/modules";
    import "swiper/css/navigation";
  
    // Configurar Swiper
    const swiper = new Swiper(".swiper", {
        slidesPerView:3,
spaceBetween:30,
slidesPerGroup:3,
centeredSlides:false,
grabCursor:true,
scrollbar:false,
loop:true,
autoplay:{
    delay:1000,
},
navigation:{
 nextEl:".swiper-button-next",
 prevEl:".swiper-button-prev"
},
pagination:{
  el: ".swiper-pagination",
  clickable: true,
},
modules:[Keyboard, Scrollbar, Navigation, Pagination]

    });

  </script>