

<section class="swiper sm:w-11/12 lg:w-11/12 xl:w-10/12 2xl:w-9/12" >

 <div class="swiper-wrapper">

  <div class="swiper-slide">
    <article class="group  bg-[url(slider1.png)] bg-no-repeat bg-contain">
     <img src="slider1.png" class="w-full"/>
     <div class="opacity-0 group-hover:opacity-100 transition-all ease-in absolute w-full h-2/6 bottom-0 flex flex-col gap-2 justify-center bg-black/55 text-white text-center py-3">
      <h4 class="sm:text-sm lg:text-sm xl:text-base 2xl:text-lg font-bold">
       CONGRESO INTERNACIONAL MUNDO TOTONACO
      </h4>
      <p class="sm:text-xs xl:text-sm font-medium">Del 13 al 16 de Noviembre del 2024</p>
     </div>
    </article>
  </div>

  <div class="swiper-slide">
    <article class="group bg-[url(slider2.png)] bg-no-repeat bg-cover">
        <img src="slider2.png" class="w-full"/>
        <div class="opacity-0 group-hover:opacity-100 transition-all ease-in absolute w-full h-2/6 bottom-0 flex flex-col justify-center gap-2 bg-black/55 text-white text-center py-3">
         <h4 class="sm:text-sm lg:text-sm xl:text-base 2xl:text-lg font-bold">
          CURSO DE ESPERANTO
         </h4>
         <p class="sm:text-xs xl:text-sm font-medium">Inicia el 2 de Octubre del 2024</p>
        </div>
       </article>
  </div>

  <div class="swiper-slide">
    <article class="group  bg-[url(slider3.png)] bg-cover bg-no-repeat">
        <img src="slider3.png" class="w-full"/>
        <div class="opacity-0 group-hover:opacity-100 transition-all ease-in absolute w-full h-2/6 bottom-0 flex flex-col justify-center gap-2 bg-black/55 text-white text-center py-3">
          <h4 class="sm:text-sm lg:text-sm xl:text-base 2xl:text-lg font-bold">
           LIBRO: MEXICO CUANTICO
          </h4>
          <p class="sm:text-xs xl:text-sm font-mediud ">21 de Agosto del 2024</p>
         </div>
        </article>
  </div>

  <div class="swiper-slide">
    <article class="group bg-[url(slider2.png)] bg-no-repeat bg-cover">
        <img src="slider2.png" class="w-full"/>
        <div class="opacity-0 group-hover:opacity-100 transition-all ease-in absolute w-full h-2/6 bottom-0 flex flex-col justify-center gap-2 bg-black/55 text-white text-center py-3">
         <h4 class="sm:text-sm lg:text-sm xl:text-base 2xl:text-lg font-bold">
          CURSO DE ESPERANTO
         </h4>
         <p class="sm:text-xs xl:text-sm font-medium">Inicia el 2 de Octubre del 2024</p>
        </div>
       </article>
  </div>

  <div class="swiper-slide">
    <article class="group  bg-[url(slider3.png)] bg-cover bg-no-repeat">
        <img src="slider3.png" class="w-full"/>
        <div class="opacity-0 group-hover:opacity-100 transition-all ease-in absolute w-full h-2/6 bottom-0 flex flex-col justify-center gap-2 bg-black/55 text-white text-center py-3">
          <h4 class="sm:text-sm lg:text-sm xl:text-base 2xl:text-lg font-bold">
           LIBRO: MEXICO CUANTICO
          </h4>
          <p class="sm:text-xs xl:text-sm font-mediud ">21 de Agosto del 2024</p>
         </div>
        </article>
  </div>

  <div class="swiper-slide">
    <article class="group  bg-[url(slider1.png)] bg-no-repeat bg-contain">
     <img src="slider1.png" class="w-full"/>
     <div class="opacity-0 group-hover:opacity-100 transition-all ease-in absolute w-full h-2/6 bottom-0 flex flex-col gap-2 justify-center bg-black/55 text-white text-center py-3">
      <h4 class="sm:text-sm lg:text-sm xl:text-base 2xl:text-lg font-bold">
       CONGRESO INTERNACIONAL MUNDO TOTONACO
      </h4>
      <p class="sm:text-xs xl:text-sm font-medium">Del 13 al 16 de Noviembre del 2024</p>
     </div>
    </article>
  </div>

  <div class="swiper-slide">
    <article class="group  bg-[url(slider3.png)] bg-cover bg-no-repeat">
        <img src="slider3.png" class="w-full"/>
        <div class="opacity-0 group-hover:opacity-100 transition-all ease-in absolute w-full h-2/6 bottom-0 flex flex-col justify-center gap-2 bg-black/55 text-white text-center py-3">
          <h4 class="sm:text-sm lg:text-sm xl:text-base 2xl:text-lg font-bold">
           LIBRO: MEXICO CUANTICO
          </h4>
          <p class="sm:text-xs xl:text-sm font-mediud ">21 de Agosto del 2024</p>
         </div>
        </article>
  </div>

  <div class="swiper-slide">
    <article class="group  bg-[url(slider1.png)] bg-no-repeat bg-contain">
     <img src="slider1.png" class="w-full"/>
     <div class="opacity-0 group-hover:opacity-100 transition-all ease-in absolute w-full h-2/6 bottom-0 flex flex-col gap-2 justify-center bg-black/55 text-white text-center py-3">
      <h4 class="sm:text-sm lg:text-sm xl:text-base 2xl:text-lg font-bold">
       CONGRESO INTERNACIONAL MUNDO TOTONACO
      </h4>
      <p class="sm:text-xs xl:text-sm font-medium">Del 13 al 16 de Noviembre del 2024</p>
     </div>
    </article>
  </div>


 </div>
 <div class="swiper-pagination" ></div>
 <a href="#" class="flex gap-2 justify-end md:text-sm lg:text-base xl:text-lg 2xl:text-xl 3xl:text-2xl font-bold"><p> VER TODAS LAS NOTICIAS</p> <img src="forward-arrows.svg"/></a>


</section>

<script>
    // Core de Swiper y estilos
    import Swiper from 'swiper';
    import 'swiper/css';
    // Módulo Navigation de Swiper y estilos
    import { Keyboard, Scrollbar, Navigation, Pagination } from "swiper/modules";
    import "swiper/css/navigation";
  
    // Configurar Swiper
    const swiper = new Swiper(".swiper", {
        slidesPerView:3,
spaceBetween:30,
slidesPerGroup:3,
centeredSlides:false,
grabCursor:true,
scrollbar:false,
loop:true,
autoplay:{
    delay:1000,
},
pagination:{
  el: ".swiper-pagination",
  clickable: true,
},
modules:[Keyboard, Scrollbar, Navigation, Pagination]

    });

  </script>