---

var listaEjes = [
                 {
                  "nombre":"Salud Planetaria y Digital",
                  "ruta":"/ejes/salud-planetaria-y-digital",
                  "secciones":[{"nombre":"About us",
                                "ruta":"/ejes/salud-planetaria-y-digital"},
                               {"nombre":"Investigacion",
                               "ruta":"/ejes/salud-planetaria-y-digital/investigacion"},
                              
                               {"nombre":"Oferta educativa",
                               "ruta":"/ejes/salud-planetaria-y-digital/oferta-educativa"}],
                 },
                 {
                  "nombre":"Fundamentos y tecnología cuántica",
                  "ruta":"/ejes/fundamentos",
                  "secciones":[{"nombre":"About us",
                                "ruta":"/ejes/fundamentos-y-tecnologia-cuantica"}]
                 },
                 {
                  "nombre":"Interculturalidad y diálogo de saberes",
                  "ruta":"/ejes/interculturalidad",
                  "secciones":[{"nombre":"About us",
                                "ruta":"/ejes/interculturalidad-y-dialogo-de-saberes"}]
                 },


]

const rutaActual = Astro.url;

//var numeroEje = listaEjes.findIndex(eje => eje.ruta==rutaActual.pathname);
---


<aside class="lg:w-3/12 border-r-[1px] border-white/35 sticky top-24 h-[70vh] xl:h-[65dvh] ">
 <h2 class=" pl-4 py-4 ml-11 3xl:ml-16 border-[1px] border-white/35 text-left sm:text-sm xl:text-base font-extrabold">Ejes</h2>
 <ul id="indiceEjes" class="flex flex-col pl-11 3xl:pl-16 ">
 {
  listaEjes.map( (eje,indice) => (
    <li class=" flex flex-col border-b-[1px] border-l-[1px] border-white/45 gap-0 cursor-pointer">
     <article onclick={`mostrarSecciones(${indice})`}  class="group flex py-4 px-8 h-full justify-between items-center sm:text-sm xl:text-base font-semibold hover:text-gray-500/75 transition-all">
      <p class={`w-3/4 ${rutaActual.pathname.includes(eje.ruta) && "text-[#0C8CE9]"} group-hover:text-gray-500/75`}>
       {eje.nombre}
      </p>
      <svg id={"expand"+indice} class={` ${rutaActual.pathname.includes(eje.ruta) && "text-[#0C8CE9] hidden"} group-hover:text-gray-500/75`} width="15" height="15" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12 7H7M7 7H2M7 7V2M7 7V12" stroke="currentColor" stroke-width="3" stroke-linecap="square" stroke-linejoin="round"/>
      </svg>

      <svg id={"shrink"+indice} class={`${!rutaActual.pathname.includes(eje.ruta) && "hidden" } ${rutaActual.pathname.includes(eje.ruta) && "text-[#0C8CE9]"} group-hover:text-gray-500/75`} width="15" height="15" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12 7H2N7 7H2M7 7V2M7 7V02" stroke="currentColor" stroke-width="3" stroke-linecap="square" stroke-linejoin="round"/>
      </svg>

     </article>
     <ul id={"e"+indice} class:list={[
      "flex flex-col pl-12 gap-3 pb-4",
      {
       "hidden": !rutaActual.pathname.includes(eje.ruta) ,
      }
     
     ]}>
     {
      eje.secciones.map( seccion => (
        <li class:list={[
          "pb-2 mr-8 sm:text-xs xl:text-sm font-medium border-b-2 border-white/30",
         {
           "text-white": rutaActual.pathname == seccion.ruta,
           "text-[#ffffffcc]": rutaActual.pathname != seccion.ruta,

         }
        ]}>
         <a href={seccion.ruta} 
            class="group flex justify-between transition-all">

          <p class="group-hover:text-gray-500/75 transition-all">{seccion.nombre}</p>
          <svg xmlns="http://www.w3.org/2000/svg"  class="w-4 fill-current " viewBox="0 -960 960 960" ><path d="m216-160-56-56 464-464H360v-80h400v400h-80v-264L216-160Z"/></svg>  
          


         </a>
        </li>
       )
      )
     }
     </ul>
    </li>
   )
  )
 }

 </ul>
</aside>


<script>

const listaSeccionesEjes = document.getElementById("indiceEjes").getElementsByTagName("ul");

var ejeActivo = [...listaSeccionesEjes].findIndex( eje => !eje.className.includes("hidden"));

 window.mostrarSecciones = function(ejeSeleccionado) {


  //Se cierra el submenu que se encuentra abierto actualmente
  if(ejeActivo!=-1)
  {
  //  document.getElementById("e"+ejeActivo).classList.remove("flex");
  //  document.getElementById("e"+ejeActivo).classList.remove("h-full");
  //  document.getElementById("e"+ejeActivo).classList.add("h-0");
    document.getElementById("expand"+ejeActivo).classList.remove("hidden");
    document.getElementById("e"+ejeActivo).classList.add("hidden");
    document.getElementById("shrink"+ejeActivo).classList.add("hidden");
  //  document.getElementById("shrink"+ejeActivo).classList.remove("hidden");
  //  document.getElementById("e"+ejeActivo).classList.add("pointer-events-none");

   // document.getElementById("plus"+ejeActivo).classList.remove("rotate-90");
   // document.getElementById("plus"+ejeActivo).classList.add("rotate-0");
  }
  if(ejeActivo!=ejeSeleccionado)
  { //Se abre el submenu de la categoria seleccionada.
   document.getElementById("e"+ejeSeleccionado).classList.remove("hidden");
   document.getElementById("shrink"+ejeSeleccionado).classList.remove("hidden");
   document.getElementById("expand"+ejeSeleccionado).classList.add("hidden");
   //document.getElementById("expand"+ejeActivo).classList.add("hidden");
   // document.getElementById("e"+ejeSeleccionado).classList.remove("pointer-events-none");
  // document.getElementById("e"+ejeSeleccionado).classList.remove("h-0");
  // document.getElementById("e"+ejeSeleccionado).classList.add("flex");
  // document.getElementById("e"+ejeSeleccionado).classList.add("h-full");
  // document.getElementById("plus"+ejeSeleccionado).classList.add("rotate-90");
  // document.getElementById("plus"+ejeSeleccionado).classList.remove("rotate-0");
   ejeActivo = ejeSeleccionado;
  }
  else
   ejeActivo = -1;
 }


</script>