---

var listaEjes = [
                 {
                  "nombre":"Salud Planetaria y Digital",
                  "ruta":"/ejes/salud-digital-y-planetaria",
                  "secciones":[{"nombre":"About us",
                                "ruta":"/ejes/salud-digital-y-planetaria"},
                               {"nombre":"Investigacion",
                               "ruta":"#"},
                              
                               {"nombre":"Oferta educativa",
                               "ruta":"#"}],
                 },
                 {
                  "nombre":"Fundamentos y tecnología cuántica",
                  "ruta":"/ejes/fundamentos",
                  "secciones":[{"nombre":"About us",
                                "ruta":"#"}]
                 },
                 {
                  "nombre":"Interculturalidad y diálogo de saberes",
                  "ruta":"/ejes/interculturalidad",
                  "secciones":[{"nombre":"About us",
                                "ruta":"#"}]
                 },


]

const rutaActual = Astro.url;
---


<aside class="w-3/12 border-r-[1px] border-white/35 sticky top-24 h-[60dvh] ">
 <ul class="flex flex-col pl-11 ">
 {
  listaEjes.map( eje => (
    <li class="flex flex-col py-4 border-b-[1px] border-white/45 gap-4">
     <article  class="font-extrabold">
      <p class={`w-3/4  ${rutaActual.pathname.includes(eje.ruta) && "text-[#0C8CE9]"}`}>
       {eje.nombre}
      </p>
     </article>
     <ul class:list={[
      "flex flex-col gap-3",
      {
       "hidden": !rutaActual.pathname.includes(eje.ruta) ,
      }
     
     ]}>
     {
      eje.secciones.map( seccion => (
        <li class:list={[
          "text-sm font-medium",
         {
           "text-white": rutaActual.pathname.includes(seccion.ruta),
           "text-[#ffffffcc]": !rutaActual.pathname.includes(seccion.ruta),

         }
        ]}>
         <a href={seccion.ruta}>
          <p>{seccion.nombre}</p>
         </a>
        </li>
       )
      )
     }
     </ul>
    </li>
   )
  )
 }

 </ul>
</aside>