---
import Navbar from '../components/Navbar.astro';
import Footer from "../components/Footer.astro";
import { ViewTransitions } from "astro:transitions";

import "../global.css";
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-background text-foreground antialiased dark">
		<div class="pointer-events-none fixed inset-0">
			<div class="absolute inset-0 bg-gradient-to-b from-background via-background/90 to-background" />
			<div class="absolute right-0 top-0 h-[500px] w-[500px] bg-blue-500/10 blur-[100px]" />
			<div class="absolute bottom-0 left-0 h-[500px] w-[500px] bg-purple-500/10 blur-[100px]" />
		  </div>

		<Navbar/>
		<slot />
		<Footer></Footer>
	</body>
</html>

