---
import EjeLayout from '../../../layouts/EjeLayout.astro';
---

<EjeLayout>
 <section class="lg:w-9/12 flex flex-col px-11 py-12 3xl:py-20 gap-16 3xl:gap-20 border-l-[1px] border-white/35">

  <article class="flex flex-col gap-6 3xl:gap-10">
   <h2 class="w-3/4 md:text-2xl xl:text-3xl 2xl:text-4xl 3xl:text-5xl font-bold">

    
    Fundamentos y tecnología cuántica - About


   </h2>
   <p class="w-3/4 text-justify sm:text-sm xl:text-base 2xl:text-lg 3xl:text-xl leading-snug">
    
    This is a great space to write a long text about your company and your services. You can use this space to go into a little more detail about your company. Talk about your team and what services you provide. Tell your visitors the story of how you came up with the idea for your business and what makes you different from your competitors. Make your company stand out and show your visitors who you are.


    This is a great space to write a long text about your company and your services. You can use this space to go into a little more detail about your company. Talk about your team and what services you provide. Tell your visitors the story of how you came up with the idea for your business and what makes you different from your competitors. Make your company stand out and show your visitors who you are.

   </p>
  </article>


   
     

 </section>
</EjeLayout>